.modal {
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.modal.show {
  opacity: 1;
}

.modal-content {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal.show .modal-content {
  transform: translateY(0);
  opacity: 1;
}
